aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
dnspython==1.16.0
eventlet==0.25.2
greenlet==0.4.15
idna==2.9
idna-ssl==1.1.0
monotonic==1.5
multidict==4.7.6
netifaces==0.10.6
python-engineio==3.13.0
python-socketio==4.6.0
six==1.15.0
typing-extensions==3.7.4.2
yarl==1.4.2
