
*{
	text-align: center;
}

.container{
	background-color: pink;
	color: white;
}

.button{
	margin: 10px;
	width: 40%;
	height: 30%;
	background-color: black
}

#redA{background-color: red;}
#redB{background-color: red;}
#bluA{background-color: blue;}
#bluB{background-color: blue;}

#enter{
	width: 30%;
}

.stage2{
	/* float: left; */
	text-align: center;
	width: 50%;
	height: 50%;
}

